<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1">
        <parameter name="test1" value="Tank" />
        <!--<parameter name="test1" value="Xiao" />-->
    <test name="test12" verbose="2">
        <classes>
            <class name="examples.ParameterizedTest" />
        </classes>
    </test>
</suite>
